<!DOCTYPE html>

<head>
    <title>TCT Demo</title>
    <link href="../static/styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="../static/scripts.js"></script>
</head>

<body>
    <h1>TCT Demo</h1>
    <div class="form-container">
        <div class="input-box">
            <input type="text" id="tx-hash" name="tx-hash" placeholder="Transaction hash...">
        </div>
        <div class="file-input">
            <input id="upload" type="file" accept=".json" />
        </div>
        <div class="button-submit">
            <button type="button" onclick="uploadFile()">Trace</button>
        </div>
    </div>

    <div class="form-container">
        <button onclick="viewTheorem()">View Theorem</button>
        <button onclick="loadTrace()">Load Trace</button>
        <button onclick="boogieOutput()">Boogie Output</button>
    </div>
</body>